/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}



main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #11131e;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
}

section {
  background: #fff;
  padding: 30px;
  margin: 10px;
  color: #202842;
}

section h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}


/* MARK Quote-container */
.quote-container {
  width: 100vw;
  height: 50vh;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-area {
  min-width: 600px;
  max-width: 700px;
  margin: 35px 0;
  border-radius: 15px;
  background: #fff;
  padding: 30px 40px;
}

.quote-area h1 {
  margin-bottom: 20px;
}

.quote-area .quote-text {
  display: flex;
  justify-content: center;
}

.quote-text iconify-icon {
  font-size: 25px;
}

.quote-text dq:first-child {
  margin: 3px 10px 0 0;
}

.quote-text .dq:last-child {
  display: flex;
  align-items: flex-end;
}

.quote-text .quote {
  font-size: 22px;
  text-align: center;
}

.quote-area .author {
  display: flex;
  font-size: 18px;
  margin-top: 30px;
  font-style: italic;
  justify-content: flex-end;
}

.author span:first-child {
  margin: -7px 5px 0 0;
  font-family: monospace;
}


.author .name::before {
  content: "--";
  margin: 10px;
}

.author .name::after {
  content: "--";
  margin: 10px;
}

/* MARK config-cointainer */
.config-cointainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-height: 50vh;
  min-height: 40vh;
  border-radius: 100px 100px 0 0;
}

.configTools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.configTools .tools-btn,
.configTools .saveBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: 10px 20px;
  height: 47px;
  width: 47px;
  display: flex;
  cursor: pointer;
  color: #5372F0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid #5372F0;
  font-size: 1.5em;
}

.btn:is(:hover, .active) {
  color: #fff;
  background: #5372F0;
}


.tools-btn .newQuote {
  background: #5372F0;
  color: #fff;
}

.tools-btn .newQuote.loading {
  opacity: 0.7;
  pointer-events: none;
}

.tools-btn.speak.active {
  pointer-events: none;
}


/* MARK Title tool */
.configTools #title-input {
  width: 500px;
  height: 40px;
  border-radius: 15px;
}


/* MARK color tools */
.input-form {
  margin: 10px;
}

.tools-color {
  display: flex;
  justify-content: center;
}

.circle .clr-field button {
  width: 22px;
  height: 22px;
  left: 5px;
  right: auto;
  border-radius: 5px;
}

.circle .clr-field input {
  padding-left: 36px;
}

.circle .clr-field button {
  border-radius: 50%;
}

.full .clr-field button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.input-form input {
  width: 150px;
  height: 32px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

/* MARK Download Btn */
.saveBtn button {
  width: 145px;
  font-size: 1em;
  border-radius: 5px;
  cursor: not-allowed;
}

.saveBtn iconify-icon {
  font-size: 1.5em;
  margin-right: 0.1em;
}